This is a calendar page!!
<ul>
<% current_user.prescriptions.each do |pres| %>
  <li><%= pres.drug_name %></li>
  <li><%= pres.fill_date %></li>

<% end %>
</ul>

<%= link_to "Add prescription", new_prescription_path %>
